/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .question {
  font-size: large;
  font-family: 20px, "Times New Roman", sans-serif;
  border-left: 2mm solid rgb(146, 146, 143, 0.5);
  padding-inline-start: 4px;
  margin: 15px;
 }

  .mensage {
   font-size: large;
   font-family: 20px, "Times New Roman", sans-serif;
   border-left: 2mm solid rgb(146, 146, 143, 0.5);
   padding-inline-start: 4px;
   margin: 15px;
   background-color: rgb(252, 252, 128, 0.5);
  }
